* {
    background-color: rgb(199, 199, 171);
}

h1 {
    background-color: rgb(189, 158, 59);
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    font-size: 28px;
    text-align: center;
    color: rgba(17, 66, 8, 0.911);
    width: 100vw;
    padding: 3px;
}

.image-header {
    width: 1400px;
    height: auto;
}

.img-burger, .img-coffee, .img-gnocchi {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 15px;
}